<section>
    <div class="conatiner">
        <div class="row">
            <div class="col-6">
                <h2>Raise An Issue</h2>
                <h5>Raise an issue or get solutions to your CoWIN account and <br>vaccination certificate related issues instantly..</h5>
            
            <br><br>
            
                <a class="anchor" href="registration/regester-member"><b>Certificate Corrections</b></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="anchor2" href="registration/regester-member"><b>Add Passport</b></a><br>
            <a class="anchor3" href="registration/regester-member"><b>Merge Certificates</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="anchor4" href="registration/regester-member"><b>Report Unknown Member</b></a><br>
            <a class="anchor5" href="registration/regester-member"><b>Transfer Member To New Number</b></a>
            
            
            
            
            </div>


            <div class="col-4">
                <img src="..//../../assets/images/new-callcenter-amico.svg">
            </div>
        </div>
    </div>
</section>