

<section>
    <div class="container-fluid">
<footer class="ft">
    <div class="row">
        <div class="col-2 first">
            <h6>Vaccination Services</h6>
            <a href="">Register Members</a><br>
            <a href="">Search Vaccination Centers</a><br>
            <a href="">Book Vaccination Slots</a><br>
            <a href="">Manage Appointment</a><br>
            <a href="">Download Certificate</a><br>
        </div>


        <div class="col-2">
            <h6>Platforms</h6>
            <a href="">CoWIN International</a><br>
            <a href="">Vaccinator</a><br>
            <a href="">Department Login</a>
            <a href="">Verify Certificates</a>
            <a href="">Vaccination Statistics</a>
        </div>

        <div class="col-2">
            <h6>Resources</h6>
            <a href="">How To Get Vaccinated</a><br>
            <a href="">Dos and Don'ts</a><br>
            <a href="">Overview</a><br>
            <a href="">API Guidelines</a><br>
            <a href="">Grievance Guidelines</a><br>
        </div>

        <div class="col-2">
            <h6>Support</h6>
            <a href="">Frequently Asked Questions</a><br>
            <a href="">Certificate Corrections</a><br>
            
        </div>


        <div class="col-2">
            <h6>Contact Us</h6>
            Helpline:  <a href=""> +91-11-23978046 </a>(Toll Free - <a href="">1075 </a> )<br>
            Technical Helpline: <a href=""> 0120 4473222</a><br>
            
        </div>

    </div>
</footer>
</div>
</section>