*{
    margin: 0px;
    padding: 0px;
}


.ft{
    background-color: rgb(19, 19, 34);
    height: 300px;
}
*{
    color: white;
    margin-top: 20px;
font-size: 15px;
text-decoration: none;

}

.first{
    margin-left: 60px;
    
}