<h6 class="mx-5 mt-5">Vaccination Trends </h6>

<button class="border bg-light" style="width: 150px;">By Doses</button>
<button class="border bg-light" style="width: 150px;">By Age</button>
<section>
    
       
      <div class="canvas mx-5">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
      <!-- <div class="canvas2">
        <canvas id="myChart2" width="400" height="400"></canvas>   
      </div> -->

      <div class="canvas2">
        <canvas id="myChart2" width="400" height="400"></canvas>    
      </div>
   
</section><br><br>



<section>
         <div class="canvas1">
        <canvas id="myChart1" width="400" height="400"></canvas>    
      </div>

</section>