<section>
    <div class="container-fluid container1 mt-5">
        <h3>India is running the world’s largest vaccination drive</h3>
        <div class="row">
            <div class="col-4 mt-5 img">
                <img src="..//../../assets/images/india-map.jpg">
            </div>


            <div class="col-5 summary">
              <h6>Vaccines Delivered</h6>
              <p class="num"><b>12,154,4577</b></p><br>

              <h6>Citizens Fully Vaccinated</h6>
              <p class="num"><b>12,154,4577</b></p><br>

              <h6>% of Fully Vaccinated</h6>
              <p class="num"><b>45.84%</b></p><br>


              <button class="button bg-dark"><a routerLink="dashboard/dashboard-summary">View vaccination DashBoard</a></button>
            </div>
        </div>
    </div>
</section>
