<section>
    <div class="contanier contanier1">
        <div class="row">
            <h1>Getting Vaccinated in 3 Easy Steps</h1><br><br><br>
            <br>
           <h1> 1--------------------------2--------------------------3</h1>
        </div><br><br><br>


        <div class="row">
            <div class="col-3 img">
                <h4 >Book an Appointment On
                    CoWIN or Walk Into Any
                    Vaccination Center</h4><br>
                    <div class="card img1" style="width: 22rem;">
                        <img class="card-img-top" src="..//../../assets/images/vaccinated_img1.png" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text"><b>How To Book Your Appointment<br>On CoWIN</b></p>
                        </div>
                      </div>
            </div>

            <div class="col-3 img">
                <h4>Get Your Vaccination<br>
                    Safely at the Time of Your<br>
                    Appointment</h4><br>
                    <div class="card img1" style="width: 22rem;">
                        <img class="card-img-top" src="..//../../assets/images/vaccinated_img2.png" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text"><b>Dos And Dont's For Getting<br>Vaccinated</b></p>
                        </div>
                      </div>
            </div>


            <div class="col-3 img">
                <h4>Download Your Vaccination<br>
                    Certificate from CoWIN<br>
                    and Wait for Dose #2</h4><br>
                    <div class="card img1" style="width: 22rem;">
                        <img class="card-img-top" src="..//../../assets/images/vaccinated_img3.png" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text"><b>Download Your Vaccine<br> Certificate</b></p>
                        </div>
                      </div>
            </div>
        </div>
    </div>
</section>
<br>
<br><br>