<section>
    <div class="container">
        <div class="row">
            <div class="col-3 mt-5">
               <h1 >What's new<br>
                on CoWIN ?</h1>
            </div>



            <div class="col-9 mt-5">
              <p-scrollPanel [style]="{width: '100%', height: '400px'}">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            You can download your vaccination certificate for International Travel
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            This new feature allows fully vaccinated citizens to update existing photo identity to passport number and date of birth to get International Travel Certificate.
                        </div>
                      </div>
                    </div>
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            You can register as a foreign national on CoWIN and get vaccinated
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            New feature has been provided for foreign national. You can easily be vaccinated just by providing your basic details. If you have been administered with Dose 1 vaccine in foreign country, you'll have provide it's details to Vaccinator while going for Vaccination.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Citizens can link their passports to CoWIN issued certificate by raising an issue in their accounts
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            This is a new feature provided where you can link your passport by entering Passport number. In order to link your passport to the certificate you need to login into your CoWIN portal and then raise an issue to get your passport linked by clicking on "Add Passport Details to my vaccination certificate"
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Introducing “Raise an Issue” to CoWIN for all your vaccine certificate and account related issues
                        </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          You can now get all your Issues related to your Vaccine Certificate at one place. All you need to do is to login to your CoWIN portal and click on "Raise an Issue" . Multiple Issue options are provided. You can raise your concerned issues accordingly.
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          Check your eligibility for Dose 2 by signing in on CoWIN with your registered mobile number
                        </button>
                      </h2>
                      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          Citizens administered with dose 1 can now check their eligibility for Dose 2 by performing a single step.

                          "Login to your CoWIN portal" and there you have your eligibility mention next to your name, highlighted as "No. of Days left for Dose 2".
                        </div>
                      </div>
                    </div>
                  </div></p-scrollPanel>
            </div>
        
        </div>
      
    </div>
</section>





