<section>
    <div class="container-fluid mt-4" style="height: 200px;">
        <h2><b>Our Partners</b></h2><br><br>
        <div class="row ">
           
            <div class="col-2 img">
<img src="..//../../assets/images/digilocker.png">
</div>
<div class="col-1">
<img src="..//../../assets/images/mygov-logo-sm.png">
</div>

<div class="col-1">
    <img src="..//../../assets/images/newumang-logo.png">
</div>
<div class="col-1">
<img src="..//../../assets/images/arogyasetu.png">
            </div>
        </div>
    </div>
</section>
