<section>
    <div class="container "style="height: 200px;">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-1 mt-4">
                        <img src="..//..//../assets/images/vaccine.svg" style="height: 50px; width: 50px;">
                    </div>
                    <div class="col-5 mt-4">
                        <h5>Total Vaccination Doses</h5>
                    </div>
                </div>

<br>
                <h5><b>India marches beyond 1 Billion Vaccine doses</b></h5>
                <a class="anchor" href="">View More</a>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-1 mt-4">
                        <img src="..//..//../assets/images/syringe.png" style="height: 50px; width: 50px;">
                    </div>

                    <div class="col-5 mt-4">
                        <h5>Vaccinations Done Today</h5>
                    </div>
                </div>

<br>
                <h5><b>India sets world record of 2.5 Cr+ Vaccinations in a day</b></h5>
            </div>
        </div>
    </div>
</section>