
<section>
    <div class="container form mt-5">
        <form>
            <img class="img"src="..//../../assets/images/cowin-login-logo-blue.png">
            <h6>Ministry of Health & Family Welfare</h6>

            <h6>Welcome! <br>Health Facility Managers</h6><br><br>
            <span class="p-float-label input">
                <input id="float-input" type="text" pInputText> 
                <label for="float-input">Mobile Number</label>
            </span><br><br>

            <span class="p-float-label input">
                <input id="float-input" type="password" pInputText> 
                <label for="float-input">Enter Your password</label>
            </span>
            <a class="input1"href="">Forgot password</a><br><br>

            <button class="button1">Login</button><br>
            <br><p class="oring">or</p> <br>
            <button class="button mb-5">Login Using OTP</button>
            
        </form>
    </div>
</section>