<div class="overflow-hidden">


<section>
  <div class="container-fuild">
    <div class="row">
    
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="..//../../assets/images/ce0ccd7c-aeda-4980-822f-28fa8df7e01d.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="..//../../assets/images/28093372-2f68-4983-82a2-0bd5700cc02a.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="..//../../assets/images/1first.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            </div>
            </div>
        
</section>



<section>
  <div class="container-fluid bg-secondary" style="height: 200px;">
    <div class="row">
      <div class="col-2 mt-4">
        <h5 class="text-white"><b>Support for COVID-19</b></h5><p style="height: 20px;">|</p>
      </div>

      <div class="col-2 mt-4"><h6 class="text-white">Health Ministry</h6><br><a class="text-white"href="">+91-11-23978046 </a>or<a class="text-white"href="">1075</a>
      </div>

      <div class="col-2 mt-4"><h6 class="text-white">Mental Health</h6><br><a class="text-white"href="">08046110007</a>
      </div>

      <div class="col-2 mt-4"><h6 class="text-white">Senior Citizens</h6><br><a class="text-white" href="">14567</a>
      </div>

      <div class="col-2 mt-4"><h6 class="text-white">NCW</h6><br><a class="text-white" href="">7827170170</a></div>
    </div>
  </div>
</section>



<app-vaccination-count></app-vaccination-count>

<app-search-vaccination></app-search-vaccination>
<app-whatsnew></app-whatsnew>
<app-rise-isseue></app-rise-isseue>
<app-step-to-vaccine></app-step-to-vaccine>
<app-faq></app-faq>
<app-summary></app-summary>
<app-partner></app-partner>


</div>
