/* *{
    margin: 0px;
    padding: 0px;
} */

.container1{
    background-color: rgb(230, 222, 222);
    /* height: 100px; */
}
.box1{
    border: 1px solid;
    margin-left: 50px;
    width: 290px;
    height: 70px;
    
}
.box2{
    border: 1px solid;
    margin-left: 30px;
    width: 290px;
    height: 70px;
}
.box3{
    border: 1px solid;
    margin-left: 30px;
    width: 290px;
    height: 70px;
}
.box4{
    border: 1px solid;
    margin-left: 30px;
    width: 290px;
    height: 70px;
}

.img, p{
    display: inline-block;
    margin-left: 40px;
}

p{
    margin-left: 10px;
}
.select{
    margin-left: 900px;

}
.select1{
    height: 50px;
    width: 200px;
    border: none;
}
.excle{
    margin-left: 1200px;
}

.box5{
    border: 1px solid;
    margin-left: 50px;
    background-color: white;
    border: none;
}
.box6{
    border: 1px solid;
    margin-left: 70px;
    background-color: white;
    border: none;
}
.box7{
border: 1px solid;
margin-left: 70px;
background-color: white;
border: none;
}
.img1, h6{
    display: inline-block;
}
h6{
    margin-left: 20px;
}



